<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

            .demo{

                width: 400px;

                height: 300px;

                border: 1px dashed #000;

                display: table-cell; /*主要是这个属性*/

                vertical-align: middle;

                text-align: center;

            }

            .demo img{
                width: 2000px;
                height: 150px;
            }

        </style>
</head>
<body>
<div class="demo">
    <img src="{% static "imgs/500.jpg" %}" alt="">
</div>
</body>
</html>
